<div class="global-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Logowanie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Adres e-mail</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">Adres e-mail jest wymagany</mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">Format adresu e-mail jest niepoprawny</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">Hasło jest wymagane</mat-error>
          <mat-error *ngIf="loginForm.controls.password.hasError('minlength') && !loginForm.controls.password.hasError('required')">Hasło jest zbyt krótkie</mat-error>
        </mat-form-field>
        <mat-error *ngIf="showCredentialsError" class="credentialsError">Podany adres e-mail lub hasło jest nieprawidłowe.</mat-error>
        <button mat-raised-button color="primary">
          Zaloguj
        </button>
      </form>

      <mat-divider></mat-divider>

      <div class="registration">
        <p class="registration__question">
          Nie masz jeszcze konta?
        </p>

        <div class="registration__wrapper">
          <span>Jeśli potrzebujesz pomocy &nbsp;</span>
          <a href="dodaj-ogloszenie" >dodaj ogłoszenie</a>
        </div>

        <div class="registration__wrapper">
          <span>Jeśli chcesz pomagać innym &nbsp;</span>
          <a href="auth/rejestracja" >zarejestruj się</a>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="retrive">
        <p class="retrive__question">
          Problem z logowaniem?
        </p>
        <div class="retrive__wrapper">
          <button mat-button class="retrive__button">Odzysjak hasło</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
