<div class="global-container">
    <mat-card>
        <mat-card-title>Logowanie</mat-card-title>
        <mat-card-content>
            <form>
            <mat-form-field class="example-full-width">
                <mat-label>Adres e-mail</mat-label>
                <input matInput placeholder="Np. pat@example.com">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Hasło</mat-label>
                <input matInput type="password">
            </mat-form-field>
            </form>
            <button mat-button>
                Zaloguj
            </button>
            <button mat-button>
                <a routerLink="../registration">Zarejestruj</a>
            </button>
        </mat-card-content>
    </mat-card>
</div>