$success-green: #2d8719;
$danger-red: #d71616;
$orange-main: #ffce4e;
$blue-main: #1e83dc;
$blue-main--darker: rgb(11, 106, 208);

$card-orange: rgba(255, 199, 0, 0.35);
$card-blue: rgba(105, 204, 255, 0.35);


// Default RBGA from Material-Angular
$black54: rgba(0, 0, 0, 0.54);
$black87: rgba(0, 0, 0, 0.87);

@mixin smartphone {
  @media all and (min-width: 489px) {
    @content
  }
}

@mixin material-desktop {
  @media all and (min-width: 600px) {
    @content
  }
}

@mixin tablet {
  @media all and (min-width: 769px) {
    @content
  }
}

@mixin desktop {
  @media all and (min-width: 999px) {
    @content
  }
}

@mixin desktop-xl {
  @media all and (min-width: 1199px) {
    @content
  }
}

@mixin desktop-full-hd {
  @media all and (min-width: 1900px) {
    @content
  }
}
