@import "config";

.global-container {
  position: relative;
  min-height: 100%;
  padding-top: 56px;

  background: #C33764; /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("/assets/images/main-back.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("/assets/images/main-back.jpg"); /* The least supported option. */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.button {
  &--success {
    background-color: $success-green;
    color: #fff;
  }
}

@media all and (min-width: 600px) {
  .global-container {
    padding-top: 64px;
  }
}
