@import "../../config";

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1435px;
  margin: 0 auto;
}

.nav {

  &__list {
    list-style: none;
    position: absolute;
    left: 0;
    top: 56px;
    background-color: #D4213D;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px #555;
    display: none;

    &--show {
      display: block;
    }
  }

  &__item {
    height: 40px;

    &--active {
      background-color: #8d2536;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

  }
}

@media all and (min-width: 600px) {
  .nav {
    &__list {
      top: 64px
    }
  }
}

@include tablet {
  .nav {
    &__list {
      display: block;
      position: static;
      background-color: transparent;
      box-shadow: none;
    }

    &__item {
      display: inline-block;
      margin-left: 30px;
      position: relative;

      &:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: #8d2536;
        border-radius: 2px;
      }

      &--active {
        background-color: transparent;
      }

      &--active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 2px;
        width: 100%;
        background-color: #8d2536;
      }
    }

    &__button {
      display: none;
    }
  }
}
