@import "../../config";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 56px;
  width: 100%;
  box-shadow: 4px 0 5px #444;
  background-color: $blue-main--darker;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1435px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.logo-link {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    max-height: 100%;
    max-width: 150px;
  }
}

.nav {

  &__list {
    list-style: none;
    position: absolute;
    left: 0;
    top: 56px;
    background-color: $blue-main;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px #555;
    display: none;

    &--show {
      display: block;
    }
  }

  &__item {
    height: 40px;

    &--active {
      background-color: $blue-main;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

  }

  &__button {
    color: #fff;
    font-size: 40px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
}

@media all and (min-width: 600px) {
  .navbar {
    height: 64px;
  }

  .nav {
    &__list {
      top: 64px
    }
  }
}

@include tablet {
  .nav {
    &__list {
      display: block;
      position: static;
      background-color: transparent;
      box-shadow: none;
    }

    &__item {
      display: inline-block;
      margin-left: 30px;
      position: relative;

      &:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: $blue-main;
        border-radius: 2px;
      }

      &--active {
        background-color: transparent;
      }

      &--active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 2px;
        width: 100%;
        background-color: $blue-main;
      }
    }

    &__button {
      display: none;
    }
  }
}
