<div class="navbar">
  <div class="navbar__content">
    <a routerLink="/" class="logo-link">
      <img class="logo-link__img" src="../../../../assets/images/HelpFinderLogo/logo.png" alt="">
    </a>

    <nav class="nav">
      <button mat-button class="nav__button">
        <mat-icon (click)="onToggleMenu()">menu</mat-icon>
      </button>

      <ul class="nav__list" [ngClass]="showNavbar === true ? 'nav__list--show' : null" *ngIf="isAuth">

        <li class="nav__item" *ngIf="role === 'volunteer'" ><a routerLink="lista" routerLinkActive="nav__item--active"
                                 [routerLinkActiveOptions]="{exact:true}" (click)="onToggleMenu()">Lista ogłoszeń</a>
        </li>

        <li class="nav__item" *ngIf="role === 'needy'" ><a routerLink="dodaj-ogloszenie" routerLinkActive="nav__item--active"
                                                               [routerLinkActiveOptions]="{exact:true}" (click)="onToggleMenu()">Dodaj ogłoszenie</a>
        </li>

        <li class="nav__item"><a routerLink="konto" routerLinkActive="nav__item--active"
                                 [routerLinkActiveOptions]="{exact:true}" (click)="onToggleMenu()">Profil</a></li>
        <li class="nav__item"><a routerLink="konto/ustawienia" routerLinkActive="nav__item--active"
                                 [routerLinkActiveOptions]="{exact:true}" (click)="onToggleMenu()">Ustawienia konta</a>
        </li>
        <li class="nav__item"><a routerLink="wyloguj" routerLinkActive="nav__item--active"
                                 [routerLinkActiveOptions]="{exact:true}" (click)="onToggleMenu()">Wyloguj</a></li>
      </ul>

      <ul class="nav__list" [ngClass]="showNavbar === true ? 'nav__list--show' : null" *ngIf="!isAuth">


        <li class="nav__item"><a routerLink="/o-aplikacji" routerLinkActive="nav__item--active"
                                 [routerLinkActiveOptions]="{exact:true}" (click)="onToggleMenu()">Jak działa aplikacja?</a></li>
        <li class="nav__item"><a routerLink="/auth/logowanie" routerLinkActive="nav__item--active"
                                 [routerLinkActiveOptions]="{exact:true}" (click)="onToggleMenu()">Logowanie</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
