@import "../../../shared/global";

.card {
  background-color: $card-orange;
  padding: 15px;

  &--end {
    background-color: $card-blue;
  }

  &__right {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;

  }

  &__header {
    color: $black87;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--small {
      font-size: 12px;
    }

    .header-icon {
      font-size: 25px;
    }
  }

  &__content {
    color: $black54;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    white-space: nowrap;

    i {
      font-size: 20px;
    }
  }
}

mat-card-subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.action-row {

  &:first-child {
    margin-bottom: 10px;
  }
}

@include tablet {
  .card {
    display: flex;
    padding: 20px;

    &__right {
      padding-top: 0;
      border-top: none;
      margin-top: 0;

      padding-left: 20px;
      border-left: 1px solid #ccc;
      margin-left: 20px;
    }
  }
}
