<mat-card>
  <mat-card-title>Dodatne {{notice.dateStart | date}}</mat-card-title>
  <mat-card-content>
    {{notice.description}}
    <mat-divider></mat-divider>
    <div>Email: {{notice.email}}</div>
    <div>Telefon: {{notice.phone}}</div>
  </mat-card-content>
  <mat-card-actions *ngIf="inProgress === true">
    <button mat-raised-button>Zrezygnuj</button>
    <button mat-raised-button>Napisz wiadomość</button>
    <button mat-raised-button>Oznacz jako zakończone sukcesem</button>
  </mat-card-actions>
</mat-card>
