<div class="global-container">

  <form class="city-form-center">
    <mat-form-field appearance="standard">
      <mat-label>Wprowadź miasto</mat-label>
      <input matInput>
    </mat-form-field>
  </form>


  <div class="notice-list">

    <div class="notice-list__col">
      <h3>WYSOKI PRIORYTET</h3>
      <div class="notice-list__wrapper">
        <app-notice [notice]="notice" *ngFor="let notice of noticesPriority"></app-notice>
      </div>
    </div>

    <div class="notice-list__col">

      <h3>STANDARDOWY PRIORYTET</h3>
      <div class="notice-list__wrapper">
        <app-notice [notice]="notice" *ngFor="let notice of noticesStandard"></app-notice>
      </div>

    </div>
  </div>
</div>
