@import "../../global";

$grid-gap: 20px;

.city-form-center {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 30px auto;
  padding: 0 20px;

  mat-form-field {
    width: 100%;
  }
}

.notice-list {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px 20px 20px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $grid-gap;

  }
}

.col {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 19px;
    color: $black54;
    letter-spacing: 1px;
    text-align: center;
  }
}



@include tablet {

  .notice-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: $grid-gap;
  }

  .col {
    &__title {
      margin-bottom: 20px;
      font-size: 22px;
      color: $black54;
      letter-spacing: 1px;
    }
  }

}

@include desktop-xl {
  $grid-gap: 30px;

  .notice-list {
    grid-gap: $grid-gap;
    padding: 0 30px 30px 30px;

    &__wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: $grid-gap;

    }
  }

  .col {
    &__title {
      margin-bottom: 28px;
      font-size: 25px;
      color: $black54;
      letter-spacing: 1px;
    }
  }
}

@media all and (min-width: 2560px) {
  $grid-gap: 50px;

  .notice-list {
    grid-gap: $grid-gap;
    padding: 0 50px 50px 50px;

    &__wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $grid-gap;

    }
  }
}
