<app-notice-detail-modal *ngIf="selectedNotice" [notice]="selectedNotice"></app-notice-detail-modal>

<div class="global-container">

  <form class="city-form" [formGroup]="searchForm">
    <input placeholder="Twoje miasto" class="city-form__input">
  </form>


  <div class="notice-list">

    <div class="col">
      <h3 class="column-title">{{'pilnie potrzebna pomoc' | uppercase}}</h3>
      <div class="notice-list__wrapper">
        <app-notice [notice]="notice" *ngFor="let notice of noticesPriority"></app-notice>
      </div>
    </div>

    <div class="col">

      <h3 class="column-title">{{'potrzebna pomoc' | uppercase}}</h3>
      <div class="notice-list__wrapper">
        <app-notice [notice]="notice" *ngFor="let notice of noticesStandard"></app-notice>
      </div>

    </div>
  </div>
</div>
