<mat-card>
  <mat-card-title>Dodano</mat-card-title>
  <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ducimus id inventore nostrum
    pariatur provident ratione, totam. Animi deleniti ea soluta. Asperiores consequuntur debitis dolor eaque earum error
    fuga harum illum itaque iure labore libero magni nemo nostrum odio praesentium quae quasi rem repudiandae sequi
    soluta tempora tenetur totam, vel velit? A, ab ad animi cum cupiditate delectus deleniti enim et eum impedit
    inventore labore, laboriosam minima, numquam obcaecati perferendis provident quasi quibusdam quos reiciendis
    repellendus sed temporibus velit vitae voluptate? A aspernatur culpa earum minus perferendis! Asperiores at atque,
    aut debitis harum iure libero molestias, odit quisquam repellendus vitae?
  </mat-card-content>
</mat-card>
