<div class="notice-card" [ngClass]="notice.priority ? 'notice-card--priority' : null">
  <div class="notice-card__header">

    <div class="notice-card__title">
      <mat-icon>location_on</mat-icon>
      <span>{{notice.city}}</span>
      <span *ngIf="notice.district">&nbsp;-&nbsp;{{notice.district}}</span>
    </div>

    <div class="notice-card__subtitle-wrapper">
      <div class="notice-card__subtitle">
        <mat-icon>today</mat-icon>
        <span>&nbsp;&nbsp;Dodane: {{notice.dateStart | date}}</span>
      </div>

      <div class="notice-card__subtitle">
        <mat-icon>today</mat-icon>
        <span>&nbsp;&nbsp;Wygasa: {{notice.dateEnd | date}}</span>
      </div>
    </div>

  </div>

  <div class="notice-card__content">
    <p class="notice-card__text-header">Opis:</p>
    <p class="notice-card__text">{{notice.description | descriptionPreview: 250}}</p>
  </div>

  <div class="notice-card__actions">
    <button class="button" (click)="onShowMore(notice)"
            [ngClass]="notice.priority ? 'button--priority' : 'button--standard'">{{'Zobacz więcej'}}</button>
  </div>
</div>
