@import "../../global";

.notice__desc-header {
  font-weight: bold;
  margin-bottom: 5px;
}


.notice-card {
  display: flex;
  flex-direction: column;
  padding: 15px 7px;
  background: rgba(105, 204, 255, 0.35);

  &--priority {
    background: rgba(255, 199, 0, 0.35);
  }

  // ---- HEADER
  &__header {
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__title,
  &__subtitle {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $black87;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__subtitle {
    font-size: 14px;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  //  ---CONTENT
  &__content {
    font-size: 14px;
    color: $black54;
    margin-bottom: 10px;
  }

  &__text-header {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__text {
  }

  // ---- ACTION
  &__actions {
  }

  &__button {
    display: flex;
    min-height: 30px;
    padding: 0 15px;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: 300ms all ease-out;
    margin: 0 auto;
    box-shadow: 0 0 5px #999;
    background: #77b2d4;

    &:hover {
      background-color: #9cbfd5;
      box-shadow: none;
    }

    &--priority {
      background-color: #fdaf49;
      box-shadow: 0 0 5px #ccc;

      &:hover {
        background-color: #ffc890;
      }
    }


  }

}

