@import "../../global";

.notice__desc-header {
  font-weight: bold;
  margin-bottom: 5px;
}


.notice-card {
  display: flex;
  flex-direction: column;
  padding: 15px 7px;
  background: rgba(105, 204, 255, 0.35);

  &--priority {
    background: $card-orange;
  }

  // ---- HEADER
  &__header {
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__title,
  &__subtitle {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $black87;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__subtitle {
    font-size: 14px;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  //  ---CONTENT
  &__content {
    font-size: 14px;
    color: $black54;
    margin-bottom: 10px;
  }

  &__text-header {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__text {
  }

  // ---- ACTION
  &__actions {
  }

}

