<div class="modal__wrapper">
  <h1 mat-dialog-title></h1>
  <div class="subtitle">
    <div class="subtitle__row" *ngIf="data.notice.priority === true">
      <mat-icon>priority_high</mat-icon>
      <span>&nbsp;&nbsp;Wysoki priorytet</span>
    </div>
    <mat-card-header>
      <mat-card-title>
        <mat-icon>location_on</mat-icon>
        <span>{{data.notice.city}}</span>
        <span *ngIf="data.notice.district">&nbsp;-&nbsp;{{data.notice.district}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-icon>account_circle</mat-icon>
        <span>Osoba dodająca: {{data.notice.name}}</span>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>today</mat-icon>
        <span>&nbsp;&nbsp;Dodane: {{data.notice.dateStart | date}}</span>
      </mat-card-subtitle>
  
      <mat-card-subtitle>
        <mat-icon>today</mat-icon>
        <span>&nbsp;&nbsp;Wygasa: {{data.notice.dateEnd | date}}</span>
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <p class="notice__desc-header">Pełny opis:</p>
      <mat-divider></mat-divider><br />
      <p>{{data.notice.description}}</p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <div class="content__row">
      <p class="content__paragraph">
        <mat-icon>info</mat-icon>
        <span>Potwierdź, iż podejmiesz się pomocy użytkownikowi {{data.notice.name}}. Pamiętaj, że ogłoszenia zamieszczane są przez osoby w bardzo trudnej sytuacji, dlatego późniejsza rezygnacja z pomocy może źle wpłynąć na ich morale. --POPRAWIC</span>
      </p>
    </div>

  </div>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      <mat-icon>insert_emoticon</mat-icon>
      <span>&nbsp;Pomogę!</span>
    </button>
    <button mat-button color="warn" [mat-dialog-close]="false">
      <mat-icon>cancel</mat-icon>
      <span>&nbsp;Rezygnuję</span>
    </button>
  </mat-dialog-actions>
</div>
