<div class="modal__wrapper">
  <h1 mat-dialog-title>Użytkownik {{data.notice.name}}</h1>
  <div class="subtitle">
    <div class="subtitle__row" *ngIf="data.notice.priority === true">
      <mat-icon>priority_high</mat-icon>
      <span>&nbsp;&nbsp;Wysoki priorytet</span>
    </div>
    <div class="subtitle__row">
      <mat-icon>location_on</mat-icon>
      <span>&nbsp;&nbsp;{{data.notice.city}}</span>
      <span *ngIf="data.notice.district">&nbsp;-&nbsp;{{data.notice.district}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="content__row">
      {{data.notice.description}}
    </div>

    <mat-divider></mat-divider>

    <div class="content__row">
      <p class="content__paragraph">
        <mat-icon>info</mat-icon>
        <span>Potwierdź, iż podejmiesz się pomocy użytkownikowi {{data.notice.name}}. Pamiętaj, że ogłoszenia zamieszczane są przez osoby w bardzo trudnej sytuacji, dlatego późniejsza rezygnacja z pomocy może źle wpłynąć na ich morale. --POPRAWIC</span>
      </p>
    </div>

  </div>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      <mat-icon>insert_emoticon</mat-icon>
      <span>&nbsp;Pomogę!</span>
    </button>
    <button mat-button color="warn" [mat-dialog-close]="false">
      <mat-icon>cancel</mat-icon>
      <span>&nbsp;Rezygnuję</span>
    </button>
  </mat-dialog-actions>
</div>
