<div class="global-container">
  <mat-card>
    <mat-card-title>Ustawienia konta</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Imię</mat-label>
          <input matInput placeholder="Ex. pat@example.com">

        </mat-form-field>
        <button mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. pat@example.com">

        </mat-form-field>
        <button mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Numer telefonu</mat-label>
          <input matInput placeholder="Ex. pat@example.com">

        </mat-form-field>
        <button mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Hasło</mat-label>
          <input matInput placeholder="Ex. pat@example.com">

        </mat-form-field>
        <button mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <mat-divider></mat-divider>

      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Miasto</mat-label>
          <input matInput placeholder="Ex. pat@example.com">

        </mat-form-field>
        <button mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <form>
        <mat-form-field>
          <mat-label>Województwo</mat-label>
          <mat-select>
            <mat-option *ngFor="let voivodeship of voivodeships" [value]="voivodeship.value">
              {{voivodeship.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>

      </form>
    </mat-card-content>
  </mat-card>

</div>
