<div class="global-container">
  <mat-card>
    <mat-card-title>Ustawienia konta</mat-card-title>
    <mat-card-content>

      <form [formGroup]="nameForm" (ngSubmit)="onNameFormSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Imię</mat-label>
          <input
            matInput
            formControlName="name"
          >

        </mat-form-field>
        <button mat-mini-fab [disabled]="!nameForm.dirty && nameForm.valid">
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Np. przyklad@example.com" formControlName="email">

        </mat-form-field>
        <button mat-mini-fab [disabled]="!emailForm.dirty && emailForm.valid">
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <form [formGroup]="phoneForm" (ngSubmit)="onPhoneFormSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Numer telefonu</mat-label>
          <input matInput placeholder="Np. 11 222 33 44" value="{{user.phone}}">

        </mat-form-field>
        <button mat-mini-fab [disabled]="!phoneForm.dirty && phoneForm.valid">
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" placeholder="Np. ********" value="{{user.password}}">
          <mat-hint>Minimum 6 znaków.</mat-hint>
        </mat-form-field>
        <button mat-mini-fab [disabled]="!passwordForm.dirty && passwordForm.valid">
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <mat-divider></mat-divider>

      <form [formGroup]="cityForm" (ngSubmit)="onCityFormSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Miasto</mat-label>
          <input matInput placeholder="Np. Gdańsk" value="{{user.city}}">

        </mat-form-field>
        <button mat-mini-fab [disabled]="!cityForm.dirty && cityForm.valid">
          <mat-icon>save</mat-icon>
        </button>
      </form>

      <form [formGroup]="voivodeshipForm" (ngSubmit)="onVoivodeshipFormSubmit()">
        <mat-form-field>
          <mat-label>Województwo</mat-label>
          <mat-select formControl="voivodeship">
            <mat-option
              *ngFor="let voivodeship of voivodeships"
              [value]="voivodeship.value"

            >
              {{voivodeship.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab [disabled]="!voivodeshipForm.dirty && voivodeshipForm.valid">
          <mat-icon>save</mat-icon>
        </button>

      </form>
    </mat-card-content>
  </mat-card>

</div>
