@import "../../../global";


.modal {
  &__sections-group {
    display: flex;
  }

  &__section {
    margin-bottom: 15px;


    &--confirmation-col {
      display: none;
    }

    &--confirmation-footer {
      display: block;
    }

    &--budget {
      white-space: nowrap;
      border-left: 1px solid #000;
      padding-left: 10px;
      margin-left: 10px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    color: $black87;
    margin-bottom: 10px;
  }

  &__content {
    font-size: 14px;
    color: $black54;

    &--flex {
      display: flex;
    }
  }

  &__footer {
  }
}

.content-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7px;

  &--bold {
    font-weight: bold;
  }

  i {
    font-size: 25px;
    margin-right: 10px;
  }
}

.confirmation-checkbox {
  margin-right: 10px;
  cursor: pointer;

  i {
    font-size: 30px;
  }

  .selected {
    color: #2d8719;
  }
}

.error-mark {
  color: $danger-red;
}


@include desktop {
  .modal {

    &__body {
      display: flex;
    }

    &__section {

      &--confirmation-col {
        display: block;
      }

      &--confirmation-footer {
        display: none;
      }
    }

    &__footer {
      display: flex;
      justify-content: flex-start;
      //align-items: center;
    }
  }

  .col {
    &--left {
      padding-right: 20px;
    }

    &--right {
      padding-left: 20px;
      border-left: 1px solid #000;
      max-width: 40%;
    }
  }

}
