<div class="backdrop"></div>
<div class="modal">
  <div class="col col--left">
    <div class="modal__section">
      <div class="modal__title">Opis</div>
      <div class="modal__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto at, cum
        deserunt eaque earum eos esse inventore laboriosam magni molestiae nostrum saepe tempore ullam voluptate.
        Aliquid at consectetur deserunt dolore ducimus earum eos error, esse excepturi ipsa iure odit officia porro,
        quisquam repudiandae sapiente, sit temporibus vel vero voluptatibus.
      </div>
    </div>

    <div class="modal__section">
      <div class="modal__title">Do kiedy?</div>
      <div class="modal__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto at, cum
        deserunt eaque earum eos esse inventore laboriosam magni molestiae nostrum saepe tempore ullam voluptate.
        Aliquid at consectetur deserunt dolore ducimus earum eos error, esse excepturi ipsa iure odit officia porro,
        quisquam repudiandae sapiente, sit temporibus vel vero voluptatibus.
      </div>
    </div>
  </div>
  <div class="col col--right">
    <i class="las la-battery-three-quarters"></i>
  </div>
</div>
