@import "../../shared/global";
@import "../../shared/config";

$grid-gap: 20px;

.city-form-center {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 30px auto;
  padding: 0 20px;

  mat-form-field {
    width: 100%;
  }
}

.notice-list {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;

  &__col {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $grid-gap;

  }
}

@include tablet {

  .notice-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: $grid-gap;
  }
}

@include desktop-xl {
  $grid-gap: 30px;

  .notice-list {
    grid-gap: $grid-gap;

    &__wrapper {
      grid-template-columns: 1fr 1fr;
      grid-gap: $grid-gap;

    }
  }
}

@include desktop-full-hd {
  $grid-gap: 50px;

  .notice-list {
    grid-gap: $grid-gap;

    &__wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $grid-gap;

    }
  }
}
