@import "../../shared/global";

$gap: 10px;


.wrapper {
  width: 100%;
  max-width: 1400px;
}

.col {
  margin: 0 auto;

  &__header {
    font-size: 19px;
    margin-bottom: $gap;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gap;
  }
}


@include desktop {
  $gap: 20px;

  .wrapper {
    display: flex;
    padding-top: 30px;
  }

  .col {
    &__header {}

    &__wrapper {
      grid-gap: $gap;
    }

    &--left {
      padding-right: 10px;
      width: 60%;
    }

    &--right {
      padding-left: 10px;
      width: 40%;
    }
  }
}

@include desktop-xl {
  .wrapper {
    padding-top: 50px;
  }

  .col {
    &--left {
      width: 70%;
    }

    &--right {
      width: 30%;
    }
  }
}
